.chartPage-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.chartPage-showPortfolioButton{    
margin: 2rem;
width: 200px;
height: 50px;
background-color: #30343F;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: large;
}
.chartPage-portFolioTopsDescriptionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 20px;
    border: solid 3px #273469;
    border-radius: 100px;
    background-color: white;
    margin-top: 40px;
}

.chartPage-portfolioText{
    color: #30343F;
    font-size: 20px;
    font-weight: bold;
}