#feed-contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

.feed-postContainer {
    width: 100%;
    max-width: 600px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.feed-postContainer:hover {
    transform: scale(1.02);
}

.feed-postTitle {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.feed-postSubject {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.feed-postTextContent {
    font-size: 1em;
    margin-bottom: 10px;
    color: #555;
}

.feed-postAuthor, .feed-postCreatedDate {
    font-size: 0.9em;
    color: #777;
}

.feed-postButton {
    display: flex;
    align-items: center;
    background-color: #c9bbeb;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.feed-postButton:hover {
    background-color: #0056b3;
}

.feed-postButton svg {
    margin-left: 5px;
}

.feed-profilePicture {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}

.feed-postImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

@media (max-width: 768px) {
    .feed-postContainer {
        padding: 15px;
    }

    .feed-postTitle {
        font-size: 1.2em;
    }

    .feed-postSubject {
        font-size: 1em;
    }

    .feed-postTextContent {
        font-size: 0.9em;
    }

    .feed-postAuthor, .feed-postCreatedDate {
        font-size: 0.8em;
    }

    .feed-postImage {
        width: 40px;
        height: 40px;
    }
}