#feed-contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

.feedPage-header{
    margin: 20px;
}

.feedPage-switch {
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 50px;
    height: 20px;
    margin-bottom: 10px; 
  }
  
  .feedPage-toggle {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .feedPage-slider {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-colorcolor);
    transition: 0.3s;
  }
  
  .feedPage-slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    left: -2px;
    bottom: 2px;
    background-color: var(--bg-color);
    box-shadow: 0 3px 0 var(--main-color);
    transition: 0.3s;
  }
  
  .feedPage-toggle:checked + .feedPage-slider {
    background-color: var(--input-focus);
  }
  
  .feedPage-toggle:checked + .feedPage-slider:before {
    transform: translateX(30px);
  }

.feed-postContainer {
    width: 100%;
    max-width: 600px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.feed-postContainer:hover {
    transform: scale(1.02);
}

.feed-postTitle {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.feed-postSubject {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.feed-postTextContent {
    font-size: 1em;
    margin-bottom: 10px;
    color: #555;
}

.feed-postAuthor, .feed-postCreatedDate {
    font-size: 0.9em;
    color: #777;
}

.feedPage-visitProfileLink{
    color: #2d8cf0;
    text-decoration: none;
}

.feed-postButton {
    display: flex;
    align-items: center;
    background-color: #c9bbeb;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.feed-postButton:hover {
    background-color: #0056b3;
}

.feed-postButton svg {
    margin-left: 5px;
}

.feed-profilePicture {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}

.feed-postImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.feedPage-stockCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    padding: 20px;
    margin: 15px;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.feedPage-stockCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.feed-stockPostSubject, .feed-stockPostTitle {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.feed-stockPostTextContent {
    font-size: 1em;
    margin-bottom: 15px;
    color: #555;
    text-align: center;
}

.feed-stockPostAuther, .feed-stockPostCreatedDate {
    font-size: 0.9em;
    color: #777;
    text-align: center;
}

.feed-stockProfilePicture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.feed-stockPtockPostImage {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.feedPage-stockList {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 10px;
}

.feedPage-stockListName {
    font-size: 1em;
    color: #333;
}

.feedPage-stockListPrice {
    font-size: 1em;
    color: #333;
}

   .feedPage-createPostButton{
    position: fixed;
    bottom: 10px; 
    right: 10px; 
    z-index: 1000;
    background-color: #1E2749;
    color: white;
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;                 
   }

   .feedPage-createPostButton:hover {
    background-color: #2d8cf0;
   }

   .feedPage-loaderContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
   }

@media (max-width: 768px) {
    .feed-postContainer {
        padding: 15px;
    }

    .feed-postTitle {
        font-size: 1.2em;
    }

    .feed-postSubject {
        font-size: 1em;
    }

    .feed-postTextContent {
        font-size: 0.9em;
    }

    .feed-postAuthor, .feed-postCreatedDate {
        font-size: 0.8em;
    }

    .feed-postImage {
        width: 40px;
        height: 40px;
    }
}

