#makePrediction-container{
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#makePrediction-startOffContainer{
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
}

.makePrediction-goNextButton{
    margin: 2rem;
    width: 200px;
    height: 50px;
    background-color: #30343F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
}

#makePrediction-secondStepContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
}

#makePrediction-submitButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.makePrediction-submitButton{
    width: 200px;
    height: 50px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}